body {
background-color: #F2F6F9;
color: rgb(68,82,124);
font-family: Helvetica;
font-size: 18px;
line-height: 20px;
}

h1, h2, h3 {
	color: lightsteelblue;
	font-family: 'Hubballi', cursive;
	font-size: 32px;
	line-height: 20px;
	letter-spacing: .5;
}

a {
	text-decoration: none;
	color: #134F5C;
	transition: color 0.3s ease
}

a:hover {
  color: black;
  text-decoration: none;
}

.container {
  width: 700px;
  margin: 40px auto;
}
.card-white {
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 20px 0px;
	text-align: center;
	padding: 40px;
	border: 1px solid white;
}
.img-circle {
 	border-radius: 50%;
}
.list-inline {
  list-style: none;
  padding-left: 0px; 
}
.list-inline li {
  display: inline; 
  padding: 0px 20px; 
}
.btn-blue {
	background-color: #b8aadd;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.list-inline i {
	font-size: 50px;
	color:  rgb(230, 230, 230);
}
.list-inline i:hover{
	color: black;
}

#introduction p{
	margin-bottom: 40px;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
